{% extends 'base.html.twig' %}

{% block title %}Real Estate | Services{% endblock %}

{% block body %}
    <!-- ======== @Region: #highlighted ======== -->
    <div id="highlighted" class="bg-black pos-relative pos-zindex-9">
        <!-- Image Banner: Use the the data-bg-img functionality to create a simple image banner Use spacer classes to make the banner larger with padding, allows for easy responsive changes too see: elements-ctas.htm To make the banner full height add the attributes: data-toggle="full-height" data-offset="#header" -->
        <div class="overlay overlay-op-6" data-animate="fadeIn" data-toggle="backstretch" data-backstretch-target="self" data-backstretch-overlay=false data-backstretch-imgs="assets/img/banner-1.jpg,https://images.unsplash.com/photo-1515263487990-61b07816b324?ixlib=rb-0.3.5&s=29580c56708408d716cb322480d204f7&auto=format&fit=crop&w=1650&q=80">
            <div data-toggle="full-height" class="pl-2 pr-2 pt-5 py-lg-2 pt-lg-9 text-center text-white d-flex justify-content-center flex-column">
                <div data-toggle="sticky" data-settings='{"persist":true}'>

                    <div class="container">

                        <img width="165"
                             height="117" src="assets/img/REVERSELOGO2.png" alt="">



                    </div>

                    <button type="button" class="mb-3 d-block mx-auto btn btn-xlg btn-green-bright text-uppercase btn-rounded-none">Real Estate Services</button>
                    <h2 class="display-3 font-weight-bold mb-2" data-animate="fadeInDown" data-animate-delay="0.6">
                        Affordable Houses in Mauritius
                    </h2>
                    <h4 class="font-weight-bold display-4 font-weight-light mb-5 mb-0 mb-b-sm-0">
                        Buy, Rent or Share
                    </h4>
                    <h5 class="check-details">
                        <a href="#features" data-toggle="scroll-link">More Details <i class="la la-long-arrow-down d-block"></i></a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <!--END highlighted-->
    <div class="pos-relative pos-zindex-10 bg-white" id="content">
        <!-- ======== @Region: Features ======== -->
        <div id="features" class="py-5 py-lg-6">
            <div class="container container-1000">
                <div class="text-center mb-5">
                    <h2 class="h1 font-weight-bold mb-3 text-dark op-9 text-green-bright">
                        Features
                    </h2>
                </div>
                <div class="row">
                    <div class="col-md-4 text-center" data-animate="fadeIn" data-animate-delay="0.1">
                        <i class="la la-group icon-3x text-blue align-baseline mb-2"></i>
                        <h4 class="text-dark op-9 mb-3">
                            Competitive Service Fee
                        </h4>
                        <p class="text-dark op-7 mb-0">Fixed Registration Required</p>
                    </div>
                    <div class="col-md-4 text-center" data-animate="fadeIn" data-animate-delay="0.2">
                        <i class="la la-map-marker icon-3x text-blue align-baseline mb-2"></i>
                        <h4 class="text-dark op-9 mb-3">
                            Fully Furnished
                        </h4>
                        <p class="text-dark op-7 mb-0">All our homes are fully equiped with free wifi unless on sale</p>
                    </div>
                    <div class="col-md-4 text-center" data-animate="fadeIn" data-animate-delay="0.3">
                        <i class="la la-bed icon-3x text-blue align-baseline mb-2"></i>
                        <h4 class="text-dark op-9 mb-3">
                            Budget Friendly
                        </h4>
                        <p class="text-dark op-7 mb-0">it is our duty to match you with a house that suits your budget</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Features -->
        <!-- ======== @Region: Standout ======== -->
        <div id="details">
            <div data-toggle="full-height" class="text-center overlay overlay-op-2 p-3 d-lg-flex align-items-lg-center" data-bg-img="assets/img/pool_house.jpg" data-css='{"background-position": "center center"}'>
                <div class="p-4 p-lg-6 bg-white container">
                    <h2 class="font-weight-normal mb-2 text-green-bright font-md-x3 font-sm-x2">
                        Modern Apartments in Flic and Flac
                    </h2>
                    <h4 class="font-weight-light text-dark op-9 mb-lg-4 mb-sm-4 font-md-x2 font-sm-x1">
                        Secure and Friendly Neighborhood
                    </h4>
                    <div class="text-dark op-9 mb-4">Our Apartments in flic and Flac are the most affordable in the region.
                        Wheteher you want to be close to the sea side or the quiet area of the west coast, we have what you are loking for.</div>
                    <div class="row row grid-inner-borders-dotted">
                        <div class="p-3 col-6 col-md-4" data-animate="fadeIn" data-animate-delay="0.3">
                            <div class=""><i class="la la-arrows-h icon-3x text-blue"></i></div>
                            <h4 class="text-dark op-9">
                                Wifi
                            </h4>
                            <h4 class="text-dark op-9">
                                Available
                            </h4>
                        </div>
                        <div class="p-3 col-6 col-md-4" data-animate="fadeIn" data-animate-delay="0.2">
                            <i class="la la-bed icon-3x text-blue"></i>
                            <h4 class="text-dark op-9">
                                Bedrooms
                            </h4>
                            <h4 class="text-dark op-9">
                                1, 2 and 3
                            </h4>
                        </div>
                        <div class="p-3 col-6 col-md-4" data-animate="fadeIn" data-animate-delay="0.1">
                            <i class="la la-archive icon-3x text-blue"></i>
                            <h4 class="text-dark op-9">
                                Bathroom
                            </h4>
                            <h4 class="text-dark op-9">
                                Private or shared
                            </h4>
                        </div>
                        <div class="p-3 col-6 col-md-4" data-animate="fadeIn" data-animate-delay="0.4">
                            <i class="la la-calendar icon-3x text-blue"></i>
                            <h4 class="text-dark op-9">
                                Length of stay
                            </h4>
                            <h4 class="text-dark op-9">
                                long or short
                            </h4>
                        </div>
                        <div class="p-3 col-6 col-md-4" data-animate="fadeIn" data-animate-delay="0.5">
                            <i class="la la-car icon-3x text-blue"></i>
                            <h4 class="text-dark op-9">
                                Car park
                            </h4>
                            <h4 class="text-dark op-9">
                                1 or  2
                            </h4>
                        </div>
                        <div class="p-3 col-6 col-md-4" data-animate="fadeIn" data-animate-delay="0.6">
                            <i class="la la-pagelines icon-3x text-blue"></i>
                            <h4 class="text-dark op-9">
                                Price
                            </h4>
                            <h4 class="text-dark op-9">
                                Pocket Friendly
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--END Standout-->
        <!-- ======== @Region: Photo Tour ======== -->
        <div id="gallery" class="py-4 py-lg-6" data-toggle="magnific-popup" data-magnific-popup-settings='{"delegate": "a.cbp-caption", "gallery":{"enabled":true}}'>
            <div class="container">
                <div class="text-center mb-6 mb-0">
                    <h2 class="h1 font-weight-bold mb-3 text-dark op-9 text-green-bright">
                        A picture is a thousand words
                    </h2>
                    <p class="text-dark op-7">
                        Take a tour of our gallery below
                        <br> Schedule an appointment to visit one that matches your requirement
                    </p>
                </div>
                <div id="cbp-loader" class="loading"></div>
                <div class="fade my-5" data-toggle="cbp"
                     data-settings='{"loader":"#cbp-loader","mediaQueries":[{"width": 480,"cols": 3},
              {"width": 0,"cols": 1}], "sortToPreventGaps": true,"layoutMode":"mosaic","gapVertical":10,
              "gapHorizontal":10,"animationType":"unfold","caption":"zoom"}'>




                    <!-- Item 1 -->
                    <div class="cbp-item ">
                        <a class="cbp-caption" href="https://source.unsplash.com/a8K-puaPyVk/1040/">
                            <div class="cbp-caption-defaultWrap">
                                <img src="https://source.unsplash.com/a8K-puaPyVk/380x242/" alt="Unsplash photo" class="img-fluid">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <i class="ion-android-expand icon-1x"></i>
                                        <h6 class="text-white">
                                            Image 1
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!--stop-->

                    {% for pic in pictures %}
                    <div class='cbp-item'>
                        <a class='cbp-caption'  href='{{ pic.images.standard_resolution.url }}' target='_blank'>
                            <div class='cbp-caption-defaultWrap'>
                                <img  class='img-fluid' src='{{ pic.images.standard_resolution.url }}' alt='{% if pic.caption.text is defined %} {{ pic.caption.text }} {% endif %}'></div>
                            <div class='cbp-caption-activeWrap'>
                                <div class='cbp-l-caption-alignCenter'>
                                    <div class='cbp-l-caption-body'>
                                        <i class='ion-android-expand icon-1x'></i>
                                        <h6 class='text-white' onclick=\"window.open(' {{ pic.link }} ')\">" {% if pic.caption.text is defined %} {{ pic.caption.text }} {% endif %}"</h6>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>


                    {% endfor %}




                <!--stop-->

                <!-- Item 2 -->
                <div class="cbp-item ">
                    <a class="cbp-caption" href="https://source.unsplash.com/dS62MvK4CtM/1040/">
                        <div class="cbp-caption-defaultWrap">
                            <img src="https://source.unsplash.com/dS62MvK4CtM/380x242/" alt="Unsplash photo" class="img-fluid">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <i class="ion-android-expand icon-1x"></i>
                                    <h6 class="text-white">
                                        Image 2
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Item 3 -->


                <!-- Item 4 -->
                <div class="cbp-item ">
                    <a class="cbp-caption" href="https://source.unsplash.com/U-k6XLlml1I/1040/">
                        <div class="cbp-caption-defaultWrap">
                            <img src="https://source.unsplash.com/U-k6XLlml1I/494x642/" alt="Unsplash photo" class="img-fluid">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <i class="ion-android-expand icon-1x"></i>
                                    <h6 class="text-white">
                                        Image 4
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Item 5 -->
                <div class="cbp-item ">
                    <a class="cbp-caption" href="https://source.unsplash.com/hTPUYIIvZBY/1040/">
                        <div class="cbp-caption-defaultWrap">
                            <img src="https://source.unsplash.com/hTPUYIIvZBY/380x242/" alt="Unsplash photo" class="img-fluid">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <i class="ion-android-expand icon-1x"></i>
                                    <h6 class="text-white">
                                        Image 5
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Item 6 -->
                <div class="cbp-item ">
                    <a class="cbp-caption" href="https://source.unsplash.com/7tFlUFGa7Dk/1040/">
                        <div class="cbp-caption-defaultWrap">
                            <img src="https://source.unsplash.com/7tFlUFGa7Dk/380x242/" alt="Unsplash photo" class="img-fluid">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <i class="ion-android-expand icon-1x"></i>
                                    <h6 class="text-white">
                                        Image 6
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Item 7 -->
                <div class="cbp-item ">
                    <a class="cbp-caption" href="https://source.unsplash.com/s95oB2n9jng/1040/">
                        <div class="cbp-caption-defaultWrap">
                            <img src="https://source.unsplash.com/s95oB2n9jng/380x242/" alt="Unsplash photo" class="img-fluid">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <i class="ion-android-expand icon-1x"></i>
                                    <h6 class="text-white">
                                        Image 7
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Item 8 -->
                <div class="cbp-item ">
                    <a class="cbp-caption" href="https://source.unsplash.com/MyeOnGcibCQ/1040/">
                        <div class="cbp-caption-defaultWrap">
                            <img src="https://source.unsplash.com/MyeOnGcibCQ/380x242/" alt="Unsplash photo" class="img-fluid">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <i class="ion-android-expand icon-1x"></i>
                                    <h6 class="text-white">
                                        Image 8
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>


                <!-- Item 12 -->
                <div class="cbp-item ">
                    <a class="cbp-caption" href="https://source.unsplash.com/RcdV8rnXSeE/1040/">
                        <div class="cbp-caption-defaultWrap">
                            <img src="https://source.unsplash.com/RcdV8rnXSeE/380x242/" alt="Unsplash photo" class="img-fluid">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <i class="ion-android-expand icon-1x"></i>
                                    <h6 class="text-white">
                                        Image 12
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Item 13 -->
                <div class="cbp-item ">
                    <a class="cbp-caption" href="https://source.unsplash.com/qly35FEQwA4/1040/">
                        <div class="cbp-caption-defaultWrap">
                            <img src="https://source.unsplash.com/qly35FEQwA4/380x242/" alt="Unsplash photo" class="img-fluid">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <i class="ion-android-expand icon-1x"></i>
                                    <h6 class="text-white">
                                        Image 13
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
            <div class="text-center">
                <button data-toggle="magnific-popup" data-magnific-popup-items=''
                        type="button"
                        class="btn btn-rounded btn-bold btn-shadow px-4 py-2 mb-0 text-uppercase
                        btn-green-bright text-white">See gallery</button>
            </div>
        </div>
    </div>
    <!-- END Latest News-->
    <!-- ======== @Region: <Hr>
      ======== -->
    <hr class="w-lg-80 my-4" />
    <!-- END <Hr>
      -->
    <!-- ======== @Region: Latest News ======== -->
    <div id="news" class=" pos-zindex-10 py-4 py-lg-6">
        <div class="container">
            <div class="text-center mb-6 mb-0">
                <h2 class="h1 font-weight-bold mb-3 text-black">
                    From our blog
                </h2>
                <p class="text-dark op-7">
                    A range of articles from our stories to assist you further in your Quest

                </p>
            </div>
            <div class="row">
                <div class="col-md-4" data-animate="fadeIn" data-animate-delay="0.1">
                    <h6 class="text-blue mb-1">
                        June 22/2019
                    </h6>
                    <h4 class="text-black mb-4">
                        Suitcase Dilema,
                        <br /> how much should you really pack?
                    </h4>

                    <div class="text-dark mb-4">
                        <p>Well, ill tell you what, It depends on your length of stay. You live in a home for long term im not sure your stuffs can fit in a box or even two.
                            Most of our  homes are fully furnished these days that you dont need to buy a spoon or a mug.</p>
                        <p>So how much space can your most precious valuables take? I'd say a small pack for things ill rather be dead to loose and one bigger suit case for everything else.</p>

                    </div>
                    <a href="#" class="text-dark text-uppercase align-middle text-sm font-weight-bold">Read more <i class="la la-long-arrow-right la-x text-blue align-middle"></i></a>
                </div>
                <div class="col-md-4" data-animate="fadeIn" data-animate-delay="0.2">
                    <h6 class="text-blue mb-1">
                        June 22/2019
                    </h6>

                    <div class="cbp-item ">
                        <a class="cbp-caption" href="https://source.unsplash.com/RcdV8rnXSeE/1040/">
                            <div class="cbp-caption-defaultWrap">
                                <img src="https://source.unsplash.com/RcdV8rnXSeE/380x242/" alt="Unsplash photo" class="img-fluid">
                            </div>
                        </a>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4 class="text-white mb-4">
                                        Mauritius and Beaches,
                                        <br /> Tales from the seaside.
                                    </h4>
                                    <div class="text-white mb-4">

                                        <a href="#" class="text-white text-uppercase align-middle text-sm font-weight-bold">Read more
                                            <i class="la la-long-arrow-right la-x text-blue align-middle"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
                <div class="col-md-4" data-animate="fadeIn" data-animate-delay="0.3">
                    <h6 class="text-blue mb-1">
                        June 22/2019
                    </h6>
                    <h4 class="text-black mb-4">
                        Searching for that Sega dance,
                        <br /> Save the last dance.
                    </h4>
                    <div class="text-dark mb-4">
                        <p>This is the story of the fine ladies and gents who go round and round with a wiggle to their waist as the sounds of the "batter" and tombeau beats against bear hands. </p>
                        <p>Its traditional and unique to the indian ocean islands. The language of the rythym is kreol and its a magnificent sight to behold on the sandy beach with bare foot. </p>
                    </div>
                    <a href="#" class="text-dark text-uppercase align-middle text-sm font-weight-bold">Read more <i class="la la-long-arrow-right la-x text-blue align-middle"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- END Latest News-->
    <!-- ======== @Region: Footer upper ======== -->

    <div id="contact" class="footer bg-blue bg-op-7 pt-6 pb-6 text-center text-white" data-animate="fadeIn" data-animate-delay="0.1">
        <h2 class="display-4 font-weight-light mb-3">
           let us help you
        </h2>

        <button type="button" data-toggle="modal" data-target=".real-estate-modal2" class="btn btn-rounded btn-bold px-5 py-3 mb-5
      text-uppercase btn-blue border-0 btn-flat text-sm">...Find a house</button>

        <a href="/partners" type="button" data-toggle="modal" data-target=".real-estate-modal3" class="btn btn-rounded btn-bold px-5 py-3 mb-5
      text-uppercase btn-blue border-0 btn-flat text-sm">Maximize Returns...</a>

        <div class="container">
            <div class="row justify-content-around">
                <div class="col-md-4 mb-1 d-flex align-items-center justify-content-center"><i class="la la-phone icon-2x mr-2"></i>+230 58531705</div>
                <div class="col-md-4 mb-1 d-flex align-items-center justify-content-center"><i class="la la-envelope icon-2x mr-2"></i>findus@housemasters.mu</div>
                <div class="col-md-4 mb-1 d-flex align-items-center justify-content-center"><a href="" class="text-white" ><i class="la la-linkedin icon-2x mr-2"></i></a>
                    <a class="text-white" href="https://www.facebook.com/housemasters.mu"><i class="la la-facebook icon-2x mr-2"></i></a>
                    <a class="text-white"  href="https://www.instagram.com/housemasters.mu/"><i class="la la-instagram icon-2x mr-2"></i></a></div>
            </div>
        </div>
    </div>

    <!-- END Footer upper -->
    </div>
    <!-- ======== @Region: Copyright Section ======== -->
    <div class="footer-bottom d-inline-block w-100 pos-relative pos-zindex-10 bg-white" data-animate="fadeIn" data-animate-delay="0.1">
        <div class="text-center copyrighty-section pt-5 pb-5 text-sm font-weight-bold">&copy; 2019 HouseMasters | Real Estate Services</div>
    </div>
    <!--END Copyright Section-->



{% endblock %}
