<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="msapplication-config" content="assets/favicons/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
        <meta name="description" content="Real Estate and housing services">
        <meta name="author" content="Housemasters.mu">
        <title>Housemasters | {% block title %} Real Estate  {% endblock %}</title>
        {% block stylesheets %}
            <!-- Bootstrap v4.3.1 CSS via CDN -->
{#            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">#}
            <link href="assets/css/bootstrap.min.css" rel="stylesheet">

            <!-- Plugins required on all pages NOTE: Additional non-required plugins are loaded ondemand -->

            <!-- Theme style -->
            <link href="assets/css/theme-style.min.css" rel="stylesheet">

            <!-- Bright green colour scheme -->
            <link href="assets/css/colour-green-bright.min.css" rel="stylesheet">

            <!--Your custom colour override-->
            <link href="#" id="colour-scheme" rel="stylesheet">

            <!-- Your custom override -->
            <link href="assets/css/custom-style.css" rel="stylesheet">



            <!-- Optional: ICON SETS -->
            <!-- Iconset: Font Awesome 5.0.13 via CDN -->
            <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
            <!-- Iconset: flag icons - http://lipis.github.io/flag-icon-css/ -->
            <link href="assets/plugins/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
            <!-- Iconset: ionicons - http://ionicons.com/ -->
            <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
            <!-- Iconset: Linearicons - https://linearicons.com/free -->
            <link href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css" rel="stylesheet">
            <!-- Iconset: Lineawesome - https://icons8.com/articles/line-awesome -->
            <link href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css" rel="stylesheet">


            <!-- Le fav and touch icons - @todo: fill with your icons or remove, try https://realfavicongenerator.net -->
            <link rel="apple-touch-icon" sizes="180x180" href="assets/favicons/apple-touch-icon.png">
            <link rel="icon" type="image/png" sizes="32x32" href="assets/favicons/favicon-32x32.png">
            <link rel="icon" type="image/png" sizes="16x16" href="assets/favicons/favicon-16x16.png">
            <link rel="manifest" href="assets/favicons/manifest.json">
            <link rel="shortcut icon" href="assets/favicons/favicon.ico">
            <!-- Google fonts -->
            <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=Rambla:400,700' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=Calligraffitti' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=Roboto:100,400,700' rel='stylesheet' type='text/css'>
        {% endblock %}



        <!--Plugin: Retina.js (high def image replacement) - @see: http://retinajs.com/-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/retina.js/1.3.0/retina.min.js"></script>





        </head>





    <body class="page header-ontop page-index-realestate-single navbar-layout-default" data-colour-scheme="green-bright">

    <!-- @plugin: page loading indicator, delete to remove loader -->
    <div class="page-loader" data-toggle="page-loader"></div>

    <a id="#top" href="#content" class="sr-only">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
        <div data-toggle="sticky">

            <!--Header & Branding region-->
            <div class="header de-5 mt-8-neg py-0 bg-light header-light bg-op-9
       sticky-mt-0 sticky-mt-0 sticky-border-primary border-top-0 border-right-0 border-left-0">
                <!-- all direct children of the .header-inner element will be vertically aligned with each other you can override all the behaviours using the flexbox utilities (flexbox.html) All elements with .header-brand & .header-block-flex wrappers will automatically be aligned inline & vertically using flexbox, this can be overridden using the flexbox utilities (flexbox.htm) Use .header-block to stack elements within on small screen & "float" on larger screens use .order-first or/and .order-last classes to make an element show first or last within .header-inner or .headr-block elements -->
                <div class="header-inner container border-light border-op-1 border-right-0 border-top-0 border-left-0 py-0">
                    <!--branding/logo -->
                    <div class="header-brand">

                        <img width="57"
                             height="30" src="assets/img/logo.png" alt="">            <a class="header-brand-text sticky-text-dark" href="index.html" title="Home">
                            <h1 class="h3 text-dark op-8 font-weight-bold">

                                House Masters
                            </h1>
                        </a>
                        <div class="header-divider d-none d-lg-inline-block header-divider-sm"></div>
                        <div class="header-slogan d-none d-lg-block">Real Estate Services</div>
                    </div>
                    <!-- other header content -->
                    <div class="header-block d-flex order-12 align-items-center">

                        <!-- mobile collapse menu button - data-toggle="collapse" = default BS menu - data-toggle="off-canvas" = Off-cavnas Menu - data-toggle="overlay" = Overlay Menu -->
                        <a href="#top" class="btn btn-icon btn-white ml-2 order-12 d-lg-none" data-toggle="off-canvas" data-target=".navbar-main"
                           data-settings='{"cloneTarget":true, "targetClassExtras": "navbar-offcanvas"}'> <i class="fa fa-bars"></i> </a>
                    </div>

                    <div class="navbar navbar-expand-md navbar-static-top">
                        <!--everything within this div is collapsed on mobile-->
                        <div class="navbar-main collapse navbar-border-bottom-effect">
                            <!--main navigation-->
                            <ul class="nav navbar-nav navbar-dark">
                                <li class="nav-item"></li>

                                <li class="nav-item">
                                    <a href="#highlighted" data-toggle="scroll-link" data-dimiss="jpanel-menu" class="nav-link text-capitalize"> <span class="nav-link-inner" data-title="Home">Home</span> </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#details" data-toggle="scroll-link" data-dimiss="jpanel-menu" class="nav-link text-capitalize"> <span class="nav-link-inner" data-title="Details">Details</span> </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#gallery" data-toggle="scroll-link" data-dimiss="jpanel-menu" class="nav-link text-capitalize"> <span class="nav-link-inner" data-title="Gallery">Gallery</span> </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#news" data-toggle="scroll-link" data-dimiss="jpanel-menu" class="nav-link text-capitalize"> <span class="nav-link-inner" data-title="News">News</span> </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#contact" data-toggle="scroll-link" data-dimiss="jpanel-menu" class="nav-link text-capitalize"> <span class="nav-link-inner" data-title="Contact">Contact</span> </a>
                                </li>
                            </ul>
                        </div>
                        <!--/.navbar-collapse -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block body %}

    {% endblock %}
    <!-- Floating "Schedule a showing" button -->
    <button href="/partners" type="button" data-toggle="modal"
            data-target=".real-estate-modal"
            class="js-off-canvas-exclude btn btn-icon btn-xlg btn-rounded
            btn-bold btn-gray-bright border-0 btn-flat btn-floating
            pos-fixed pos-b pos-l pos-zindex-20 mb-3 mr-3">
        <i class="la la-key align-baseline"
           data-toggle="tooltip" title="Do you own a property?"></i> </button>


    <!-- @modal: the "Schedule a showing" modal -->
{#    <div class="modal fade real-estate-modal">#}
{#        <div class="modal-dialog modal-dialog-centered" role="document">#}
{#            <div class="modal-content p-4">#}
{#                <div class="modal-header">#}
{#                    <h4 class="modal-title">#}
{#                        Request a Visit!#}
{#                    </h4>#}
{#                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>#}
{#                </div>#}
{#                <div class="modal-body">#}
{#                    <p id="note">End you House Search, send a visitation request today!</p>#}
{#                    <div class="alert">Your request has been sent, we would contact you ASAP</div>#}
{#                    <form id="requestForm" action="">#}
{#                        <div class="form-group">#}
{#                            <label class="sr-only">First Name</label>#}
{#                            <input type="text" class="form-control form-control-lg form-control-rounded" id="fname" placeholder="Fist name">#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            <label class="sr-only">Last Name</label>#}
{#                            <input type="text" class="form-control form-control-lg form-control-rounded" id="lname" placeholder="Last name">#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            <label class="sr-only">Email</label>#}
{#                            <input type="email" class="form-control form-control-lg form-control-rounded" id="email" placeholder="Email">#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            <label class="sr-only">Phone number</label>#}
{#                            <input type="tel" class="form-control form-control-lg form-control-rounded" id="phone" placeholder="Phone number">#}
{#                        </div>#}


{#                        <!--            <div class="form-group">-->#}
{#                        <!--              <label class="sr-only">Visit date desired</label>-->#}
{#                        <!--              <input type="date" max="2019-12-31" min="2019-07-22" class="form-control form-control-lg form-control-rounded" value="" placeholder="Visit date">-->#}
{#                        <!--              <div class="text-xs text-muted form-text pl-2">Choose date for visit</div>-->#}
{#                        <!--            </div>-->#}
{#                        <div class="form-group">#}

{#                            <label class="sr-only">Specific Request</label>#}
{#                            <textarea rows="3" id="description" cols="50" placeholder="Specific Request" class="form-control form-control-lg form-control-rounded">#}

{#                    </textarea>#}
{#                            <div class="text-xs text-muted form-text pl-2">Tell us your specific Request </div>#}
{#                        </div>#}

{#                    </form>#}
{#                </div>#}
{#                #}
{#                <div class="modal-footer border-0">#}
{#                    <button id="Submit" onclick="postToGoogle()" class="btn btn-blue btn-block btn-flat btn-bold btn-rounded py-3">Send Request</button>#}
{#                </div>#}
{#            </div>#}
{#            <!-- /.modal-content -->#}
{#        </div>#}
{#        <!-- /.modal-dialog -->#}
{#    </div>#}
    <!-- /.modal -->
    <button type="button" data-toggle="modal" data-target=".real-estate-modal2"
            class="js-off-canvas-exclude btn btn-icon btn-xlg btn-rounded
            btn-bold btn-green-bright border-0 btn-flat btn-floating
            pos-fixed pos-b pos-r pos-zindex-20 mb-3 mr-3">
        <i class="la la-eye align-baseline" data-toggle="tooltip" title="Do you need a house?"></i> </button>
    <!-- @modal: the "Schedule a showing" modal -->
{#    First Form#}

    {#<div class="modal fade real-estate-modal">#}
        {#<div class="modal-dialog modal-dialog-centered" role="document">#}
            {#<div class="modal-content p-4">#}
                {#<div class="modal-header">#}
                    {#<h4 class="modal-title">#}
                        {#Request a Visit!#}
                    {#</h4>#}
                    {#<button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>#}
                {#</div>#}
                {#<div class="modal-body">#}
                    {#<p id="note">End you House Search, send a visitation request today!</p>#}
                    {#<div class="alert">Your request has been sent, we would contact you ASAP</div>#}
                    {#<form id="requestForm" action="">#}
                        {#<div class="form-group">#}
                            {#<label class="sr-only">First Name</label>#}
                            {#<input type="text" class="form-control form-control-lg form-control-rounded" id="fname" placeholder="First name">#}
                        {#</div>#}
                        {#<div class="form-group">#}
                            {#<label class="sr-only">Last Name</label>#}
                            {#<input type="text" class="form-control form-control-lg form-control-rounded" id="lname" placeholder="Last name">#}
                        {#</div>#}
                        {#<div class="form-group">#}
                            {#<label class="sr-only">Email</label>#}
                            {#<input type="email" class="form-control form-control-lg form-control-rounded" id="email" placeholder="Email">#}
                        {#</div>#}
                        {#<div class="form-group">#}
                            {#<label class="sr-only">Phone number</label>#}
                            {#<input type="tel" class="form-control form-control-lg form-control-rounded" id="phone" placeholder="Phone number">#}
                        {#</div>#}

                        {#<!--            <div class="form-group">-->#}
                        {#<!--              <label class="sr-only">Visit date desired</label>-->#}
                        {#<!--              <input type="date" max="2019-12-31" min="2019-07-22" class="form-control form-control-lg form-control-rounded" value="" placeholder="Visit date">-->#}
                        {#<!--              <div class="text-xs text-muted form-text pl-2">Choose date for visit</div>-->#}
                        {#<!--            </div>-->#}
                        {#<div class="form-group">#}

                            {#<label class="sr-only">Specific Request</label>#}
                            {#<textarea rows="3" id="description" cols="50" placeholder="Specific Request" class="form-control form-control-lg form-control-rounded">#}

                    {#</textarea>#}
                            {#<div class="text-xs text-muted form-text pl-2">Tell us your specific Request </div>#}
                        {#</div>#}
                    {#</form>#}
                {#</div>#}
                {#<div class="modal-footer border-0">#}
                    {#<button id="Submit" onclick="postToGoogle()" class="btn btn-blue btn-block btn-flat btn-bold btn-rounded py-3">Send Request</button>#}
                {#</div>#}
            {#</div>#}
            {#<!-- /.modal-content -->#}
        {#</div>#}
        {#<!-- /.modal-dialog -->#}
    {#</div>#}

{#    Second Form#}

    <div class="modal fade real-estate-modal2">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content p-4">
                <div class="modal-header">
                    <h4 class="modal-title  pr-8">
                      Register your Request!
                    </h4>
                    <div class="text-xs text-muted form-text pl-0">Need Assistance?<br /> call Emmanuel +230 57241414</div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                </div>
                <div class="modal-body">
                    <p id="note">Tell us what you are looking for and leave the rest to us..</p>
                    <div class="alert">Thats it!, we would contact you ASAP. If its urgent, call Shanon on: +230 58531705</div>

                        <form id="requestForm" target="_self" method="POST" action="" onSubmit="return postToGoogle();">
                            <div class="form-row">
                                <div class="form-group col-md-6">

                                    <select id="inputWho" required class="custom-select my-1 mr-sm-2 form-control-rounded">
                                        <option selected  value="">I am</option>
                                        <option value="a Student">a Student
                                        </option>
                                        <option value="an Expat">an Expat
                                        </option>
                                        <option value="a Solo Travele">a Solo Traveler
                                        </option>
                                        <option value="a Couple">a Couple
                                        </option>
                                        <option value="a Family">a Family
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">

                                    <select id="inputWhat" required class="custom-select my-1 mr-sm-2 form-control-rounded">
                                        <option selected  value="">Looking For</option>
                                        <option value="a Room in a shared Apartment">a Room in a shared Apartment
                                        </option>
                                        <option value="a Studio">a Studio
                                        </option>
                                        <option value="an Apartment">an Apartment
                                        </option>
                                        <option value="n Individual House">an Individual House
                                        </option>
                                        <option value="a Land">a Land
                                        </option>
                                    </select>
                                </div>


                            </div>

                            <div class="form-row">

                                <div class="form-group col-md-6">

                                    <select id="inputLength" required class="custom-select my-1 mr-sm-2 form-control-rounded">
                                        <option selected value="">To</option>
                                        <option value="Rent For 1 - 3 Months">Rent For 1 - 3 Months
                                        </option>
                                        <option value="Rent For 3 - 6 Months">Rent For 3 - 6 Months
                                        </option>
                                        <option value="Rent For 6 - 12 Months">Rent For 6 - 12 Months
                                        </option>
                                        <option value="Rent For Long Term">Rent For Long Term
                                        </option>
                                        <option value="Buy">Buy
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">

                                    <select id="inputWhere" required class="custom-select my-1 mr-sm-2 form-control-rounded">
                                        <option selected  value="">In the Region of</option>
                                        <option value="16eme Mille">16eme Mille</option>
                                        <option value="Agalega">Agalega</option>
                                        <option value="Albion">Albion</option>
                                        <option value="Amitie Gokhoola">Amitie Gokhoola</option>
                                        <option value="Arsenal">Arsenal</option>
                                        <option value="Baie Du Cap">Baie Du Cap</option>
                                        <option value="Bambous">Bambous</option>
                                        <option value="Bambous Virieux">Bambous Virieux</option>
                                        <option value="Bananes ">Bananes </option>
                                        <option value="Beau Bassin">Beau Bassin</option>
                                        <option value="Beau Vallon">Beau Vallon</option>
                                        <option value="Bel Air">Bel Air</option>
                                        <option value="Bel Ombre">Bel Ombre</option>
                                        <option value="Benares">Benares</option>
                                        <option value="Black River">Black River</option>
                                        <option value="Bois Cheri">Bois Cheri</option>
                                        <option value="Bois Des Amourettes">Bois Des Amourettes</option>
                                        <option value="Bon Accueil">Bon Accueil</option>
                                        <option value="Bramsthan">Bramsthan</option>
                                        <option value="Brisee Verdiere">Brisee Verdiere</option>
                                        <option value="Britannia">Britannia</option>
                                        <option value="Calebasses">Calebasses</option>
                                        <option value="Camp Carol">Camp Carol</option>
                                        <option value="Camp De Masque">Camp De Masque</option>
                                        <option value="Camp De Masque Pave">Camp De Masque Pave</option>
                                        <option value="Camp Diable">Camp Diable</option>
                                        <option value="Camp Ithier">Camp Ithier</option>
                                        <option value="Cap Malheureux">Cap Malheureux</option>
                                        <option value="Cascavelle">Cascavelle</option>
                                        <option value="Case Noyale">Case Noyale</option>
                                        <option value="Central Flacq">Central Flacq</option>
                                        <option value="Chamarel">Chamarel</option>
                                        <option value="Chamouny">Chamouny</option>
                                        <option value="Chemin Grenier">Chemin Grenier</option>
                                        <option value="Clemencia">Clemencia</option>
                                        <option value="Cluny">Cluny</option>
                                        <option value="Congomah">Congomah</option>
                                        <option value="Cottage">Cottage</option>
                                        <option value="Creve Coeur">Creve Coeur</option>
                                        <option value="Curepipe">Curepipe</option>
                                        <option value="D'Epinay">D'Epinay</option>
                                        <option value="Dagotiere">Dagotiere</option>
                                        <option value="Dubreuil">Dubreuil</option>
                                        <option value="Eau Coulee">Eau Coulee</option>
                                        <option value="Ebene">Ebene</option>
                                        <option value="Ecroignard">Ecroignard</option>
                                        <option value="Flic en Flac">Flic en Flac</option>
                                        <option value="Fond du Sac">Fond du Sac</option>
                                        <option value="FOREST - SIDE">FOREST - SIDE</option>
                                        <option value="G.R.S.E">G.R.S.E</option>
                                        <option value="Goodlands">Goodlands</option>
                                        <option value="Grand Bay">Grand Bay</option>
                                        <option value="Grand Bel Air">Grand Bel Air</option>
                                        <option value="Grand Bois">Grand Bois</option>
                                        <option value="Grand Gaube">Grand Gaube</option>
                                        <option value="Grand Sable">Grand Sable</option>
                                        <option value="Grande Retraite">Grande Retraite</option>
                                        <option value="Gros Cailloux">Gros Cailloux</option>
                                        <option value="L'Avenir">L'Avenir</option>
                                        <option value="L'Escalier">L'Escalier</option>
                                        <option value="L'Esperance">L'Esperance</option>
                                        <option value="L'Esperance Trebuchet">L'Esperance Trebuchet</option>	<option value="La Flora">La Flora</option>
                                        <option value="La Gaulette">La Gaulette</option>
                                        <option value="La Laura / Malenga">La Laura / Malenga</option>
                                        <option value="Lalmatie">Lalmatie</option>
                                        <option value="Laventure">Laventure</option>
                                        <option value="Le Hochet">Le Hochet</option>
                                        <option value="Le Morne">Le Morne</option>
                                        <option value="Long Mountain">Long Mountain</option>
                                        <option value="Mahebourg">Mahebourg</option>
                                        <option value="Mapou">Mapou</option>
                                        <option value="Mare D'Albert">Mare D'Albert</option>
                                        <option value="Mare La Chaux">Mare La Chaux</option>
                                        <option value="Mare Tabac">Mare Tabac</option>
                                        <option value="Medine Camp de Masque">Medine Camp de Masque</option>
                                        <option value="Melrose">Melrose</option>
                                        <option value="Midlands">Midlands</option>
                                        <option value="Moka">Moka</option>
                                        <option value="Montagne Blanche">Montagne Blanche</option>
                                        <option value="Morc St Andre ">Morc St Andre </option>
                                        <option value="New Grove">New Grove</option>
                                        <option value="Notre Dame">Notre Dame</option>
                                        <option value="Nouvelle Decouverte">Nouvelle Decouverte</option>
                                        <option value="Nouvelle France">Nouvelle France</option>
                                        <option value="Old Grand Port">Old Grand Port</option>
                                        <option value="Olivia">Olivia</option>
                                        <option value="Pamplemousses">Pamplemousses</option>
                                        <option value="Petit Bel Air">Petit Bel Air</option>
                                        <option value="Petit Raffray">Petit Raffray</option>
                                        <option value="Petite Riviere">Petite Riviere</option>
                                        <option value="Phoenix">Phoenix</option>
                                        <option value="Piton">Piton</option>
                                        <option value="Plaine des Papayes">Plaine des Papayes</option>
                                        <option value="Plaine Magnien">Plaine Magnien</option>
                                        <option value="Pointe aux Piments">Pointe aux Piments</option>
                                        <option value="Pointe aux Sables">Pointe aux Sables</option>
                                        <option value="PORT LOUIS">PORT LOUIS</option>
                                        <option value="Poste de Flacq">Poste de Flacq</option>
                                        <option value="Poudre D'Or Hamlet">Poudre D'Or Hamlet</option>
                                        <option value="Poudre D'Or Village">Poudre D'Or Village</option>
                                        <option value="Providence">Providence</option>
                                        <option value="Quartier Militaire">Quartier Militaire</option>
                                        <option value="QUATRE BORNES">QUATRE BORNES</option>
                                        <option value="Quatre Cocos">Quatre Cocos</option>
                                        <option value="Quatre Soeurs">Quatre Soeurs</option>
                                        <option value="Queen Victoria ">Queen Victoria </option>
                                        <option value="Reduit">Reduit</option>
                                        <option value="Richelieu">Richelieu</option>
                                        <option value="Ripailles">Ripailles</option>
                                        <option value="Riviere des Anguilles">Riviere des Anguilles</option>
                                        <option value="Riviere des Creoles">Riviere des Creoles</option>
                                        <option value="Riviere du Poste">Riviere du Poste</option>
                                        <option value="Riviere du Rempart">Riviere du Rempart</option>
                                        <option value="Roche Terre">Roche Terre</option>
                                        <option value="Roches Noires">Roches Noires</option>
                                        <option value="Rodrigues - Grand Montagne">Rodrigues - Grand Montagne</option>
                                        <option value="Rodrigues - La Ferme">Rodrigues - La Ferme</option>
                                        <option value="Rodrigues - Mont Lubin">Rodrigues - Mont Lubin</option>
                                        <option value="Rodrigues - Port Mathurin">Rodrigues - Port Mathurin</option>
                                        <option value="Rodrigues - Riviere Coco">Rodrigues - Riviere Coco</option>
                                        <option value="Rose Belle">Rose Belle</option>
                                        <option value="Rose- Hill">Rose- Hill</option>
                                        <option value="Saint Julien d'Hotman">Saint Julien d'Hotman</option>
                                        <option value="Saint Julien Village">Saint Julien Village</option>
                                        <option value="Saint Pierre">Saint Pierre</option>
                                        <option value="Sebastopol">Sebastopol</option>
                                        <option value="Souillac">Souillac</option>
                                        <option value="St Hubert">St Hubert</option>
                                        <option value="Surinam">Surinam</option>
                                        <option value="Tamarin">Tamarin</option>
                                        <option value="Terre Rouge">Terre Rouge</option>
                                        <option value="The Vale">The Vale</option>
                                        <option value="Tombeau Bay">Tombeau Bay</option>
                                        <option value="Triolet">Triolet</option>
                                        <option value="Trois Boutiques">Trois Boutiques</option>
                                        <option value="Trou aux Biches">Trou aux Biches</option>
                                        <option value="Trou D'Eau Douce">Trou D'Eau Douce</option>
                                        <option value="Tyack">Tyack</option>
                                        <option value="Union Ducray / St Aubin">Union Ducray / St Aubin</option>
                                        <option value="Union Park">Union Park</option>
                                        <option value="Vacoas / Floreal">Vacoas / Floreal</option>
                                        <option value="Verdun">Verdun</option>
                                        <option value="Ville Bague">Ville Bague</option>
                                        {#<option>Flacq</option>#}
                                        {#<option>Grand Port</option>#}
                                        {#<option>Moka</option>#}
                                        {#<option>Pamplemousses</option>#}
                                        {#<option>Plaines Wilhems</option>#}
                                        {#<option>Rivière du Rempart</option>#}
                                        {#<option>Rivière Noire</option>#}
                                        {#<option>Savanne</option>#}
                                    </select>
                                </div>
                            </div>

                            {#<div class="row">#}
                                {#<div class="form-group col-md-6">#}
                                {#<div class="input-group">#}
                                    {#<span class="input-group-addon btn btn-default ">Rs</span>#}
                                    {#<input type="text" class="form-control form-control-rounded" aria-label="Amount (to the nearest dollar)">#}
                                    {#<span class="input-group-addon">.00</span>#}
                                {#</div>#}
                                {#</div>#}
                                {#<div class="form-group col-md-6">#}
                                    {#<div class="input-group">#}
                                        {#<span class="input-group-addon">Rs</span>#}
                                        {#<input type="text" class="form-control form-control-rounded" aria-label="Amount (to the nearest dollar)">#}
                                        {#<span class="input-group-addon">.00</span>#}
                                    {#</div>#}
                                {#</div>#}
                                {#<div class="input-group  col-md-6">#}
                                    {#<div class="input-group-btn">#}
                                        {#<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>#}
                                        {#<ul class="dropdown-menu">#}
                                            {#<li><a href="#">MUR</a></li>#}
                                            {#<li><a href="#">USD</a></li>#}
                                            {#<li><a href="#">EURO</a></li>#}

                                        {#</ul>#}
                                    {#</div>#}
                                    {#<input type="text" class="form-control" aria-label="...">#}
                                {#</div>#}
                                {#<div class="input-group  col-md-6">#}
                                    {#<div class="input-group-btn">#}
                                        {#<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>#}
                                        {#<ul class="dropdown-menu">#}
                                            {#<li><a href="#">MUR</a></li>#}
                                            {#<li><a href="#">USD</a></li>#}
                                            {#<li><a href="#">EURO</a></li>#}

                                        {#</ul>#}
                                    {#</div>#}
                                    {#<input type="text" class="form-control" aria-label="...">#}
                                {#</div>#}

                                {#<div class="form-group slidecontainer">#}
                                    {#<div id="demo"></div>#}
                                    {#<input type="range" min="5" max="5000" value="" class="slider" id="myRange">#}
                                {#</div>#}
                            {#</div>#}

                            <div class="form-row">
                                <p id="note">..and some personal contact information, so we can reach you!</p>
                                <div class="form-group col-md-6">

                                    <input type="text" required class="form-control form-control-rounded" id="fname" placeholder="First Name">
                                </div>
                                <div class="form-group col-md-6">

                                    <input type="text" required class="form-control form-control-rounded" id="flname" placeholder="Last Name">
                                </div>

                            <div class="form-group col-md-6">

                                <input type="text" required class="form-control form-control-rounded" id="inputEmail" placeholder="Email Address">
                            </div>
                            <div class="form-group col-md-6">

                                <input type="phone" required class="form-control form-control-rounded" id="phone" placeholder="Phone Number">
                            </div>
                            </div>
                            <div class="form-group">

                                <div class="text-xs text-muted form-text pl-2">Is there any special or specific request you like us to know ?</div>
                                <textarea rows="3" id="description" cols="50" placeholder="Specific Request" class="form-control form-control-lg form-control-rounded">

                    </textarea>

                            </div>

                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" required type="checkbox" id="gridCheck">

                                    <div class="text-xs text-muted form-text pl-2">I agree to <a href="" > Terms and Conditions </a></div>
                                </div>
                            </div>

                <div class="modal-footer border-0">
                    <button id="Submit" class="btn btn-blue btn-block btn-flat btn-bold btn-rounded py-3">Send Request</button>
                </div>
                </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <!-- Style switcher - demo only - @todo: remove in production -->

    <!--Hidden elements - excluded from jPanel Menu on mobile-->
    <div class="hidden-elements js-off-canvas-exclude"></div>
        {% block javascripts %}




            <!--jQuery 3.3.1 via CDN -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <!-- Popper 1.14.6 via CDN, needed for Bootstrap Tooltips & Popovers -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>

            <!-- Bootstrap v4.3.1 JS via CDN -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


            <!-- JS plugins required on all pages NOTE: Additional non-required plugins are loaded ondemand as of AppStrap 2.5 To disable this and load plugin assets manually simple add data-plugins-manual=true to the body tag -->

            <!--Custom scripts & AppStrap API integration -->
            <script src="assets/js/custom-script.js"></script>
            <!--AppStrap scripts mainly used to trigger libraries/plugins -->
            <script src="assets/js/script.min.js"></script>
            <script src="assets/js/post-to-api.js"></script>
        {% endblock %}
    </body>
</html>
